:root {
    --background-color: rgb(181, 186, 238); 
    --button-color: rgb(83, 14, 83);
    --button-text: yellow;
}

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body {
    background-color: var(--background-color);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: var(--button-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 20px;
}

header h1 {
    color: var(--button-text);
    font-weight: bold;
}

header a {
    color: var(--button-text);
    padding: 10px 20px;
}

header a:hover {
    color: var(--background-color);
}

section {
    padding: 20px 200px;
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

section h2 {
    color: black;
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 30px;
}

section button {
    padding: 20px 20px;
    background-color: var(--button-color);
    color: var(--button-text);
    font-size: 22px;
}

@media only screen and (max-width: 820px) {
    section {
        padding: 20px 20px;
    }
}



